/* ul,
ol {
    list-style: none;
}  скинули маркери на усі списки*/
/* #2E2F42 -заголовки #434455 - опис */
/* відкрити закриті папки файли
main-logo
footer-logo  */

.text {
    text-align: center;
}

.title-text {
    font-family: 'Roboto' sans-serif;
    font-size: 36px;
    line-height: 1.12;
    color: var(--header-color);
}

.list-text {
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-navy-color);

}


.text-description {
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-slate-color);

}

.text-footer {
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}


/* -- */
:root {
    --header-color: #2E2F42;
    --background-color: #FFFFFF;
    --text-navy-color: #2E2F42;
    --text-slate-color: #434455;
    --text-cloud-color: #F4F4FD;
    --text-iris-color: #4D5AE5;
    --text-ocean-color: #404BBF;
    --button-color: #e7e9fc;
    --customers-color: #8e8f99;
    --footer-green-color: #31D0AA;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a:link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--background-color);
    letter-spacing: 0.02em;
    text-decoration: none;

}

.p {
    color: #434455;
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    display: block;
}

.list {
    list-style: none;
    display: flex;

}

.team-list {
    background-color: #F4F4FD;

}

.container {

    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;


}


/*-------- INDEX */


.top-line {
    border-bottom: 1px solid #e7e9fc;
}

.top-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-main {
    display: flex;
    align-items: center;
}

.contacts-us a {
    text-decoration: none;
}

.nav-main {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.main-logo {
    margin-right: 76px;
    padding: 24px 0;
    color: #404BBF;

}

.main-title {
    margin: 0 auto;
}


.main-logotype {
    color: #2E2F42;
}

.address {
    font-style: normal;
    align-items: center;
    margin-left: auto;
    padding: 24px 0;
    display: flex;

}

.top-conteiner {
    border-bottom: 1px solid var(--background-color);
}

.top-line {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    ;
}

/* .top-line-nav a {
  color: #2E2F42;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #2E2F42;


} */

.top-line-nav {

    list-style: none;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;



}

.top-line-nav {
    display: flex;
    align-items: center;
    gap: 40px;

}

.top-studio {
    padding: 24px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color var(--transition-duration) var(--transition-timing-function);
    position: relative;
}


.top-studio.test::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: var(--text-ocean-color);
    border-radius: 2px;



}

.top-line-nav a:hover,
.top-line-nav a:focus {
    color: #404BBF;
}

/* .top-studio.test::before {

    pointer-events: auto;
  } */





.contacts-us a:hover,
.contacts-us a:focus {
    color: #404BBF;
}

.contacts-us a {
    color: #434455;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.contacts-us {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}

/* ---------------SECTION 2----------------------- */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-button {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main-about {

    padding: 188px 0;

}

.strategy-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;

}

.main-title {
    display: flex;
    background-color: #2E2F42;
    /* margin: 0 auto; */
    padding: 188px 0;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    background-position: center;

}

.main-title {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people.jpg);
    background-repeat: no-repeat;
    position: center;
    background-size: cover;
}

.main-title-text {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 0 auto;
    line-height: 60px;
    margin-bottom: 48px;
    max-width: 496px;

}

.main-title-section {
    /* max-width: 496px;
  flex-grow: 1; */
    margin: 0 auto;

}

.button-main {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;

    height: 56px;
    align-items: center;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;

}

.button-main {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
    background-color: #404BBF
}

.main-title {
    display: flex;
}

.main-about p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.main-about {
    padding-top: 123px;
    padding-bottom: 185px;
    padding: 120px 0
}

.about-us {
    margin: 0;
    padding: 0;
}

.main-description {
    width: calc((100% - 72px) / 4);
}

.about-us {
    display: flex;
    align-items: center;
    gap: 24px;
}

.list-text {
    margin-bottom: 8px;

}

.about-us li {
    display: inline;
    padding: 0px;
    gap: 8px;
    flex-direction: column;
    color: #2E2F42;

    font-size: 20px;
    line-height: 1.2;

}

/* SECTION 3 */
.doing-list {

    padding-bottom: 120px;
}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--header-color);
    margin-bottom: 72px;

}

.our-work {
    display: flex;
    align-items: center;
    gap: 24px;

}

.our-work {
    margin: 0;
    padding: 0;
}

.our-work-pic {
    width: calc((100% - 48px) / 3);
}

/* SECTION TEAM */

.team-photo {
    margin-bottom: 72px;
}

.team-list {
    padding: 120px 0;

}

.team {
    display: flex;
    gap: 24px;


}

.team {
    margin: 0;
    padding: 0;

}

.image-main {

    width: calc((100% - 72px) / 4);
    background-color: var(--background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.image-main:hover,
.image-main:focus {

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list p {
    font-family: 'Roboto', sans-serif;
}

.team-photo {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--header-color);
    letter-spacing: 0.02em;

}

.team-container {
    padding: 32px 16px;
}

.our-work li {
    display: flex;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    color: #2E2F42;
    display: inline-block;

    border: 1px solid #E7E9FC;
}


.team li {
    display: inline-flex;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    color: #2E2F42;
    display: inline-block;
}



.follow-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 8px;
}

.team-soc {
    width: 40px;
    height: 40px;


}

/* .team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  margin-top: 8px;
} */

.team-soc-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    background-color: var(--text-iris-color);
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--text-ocean-color);
}

.team-soc-icon {
    width: 16px;
    height: 16px;
    fill: var(--text-cloud-color);
    align-items: center;
}

/* .team-soc-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}






/* CUSTOMERS */

.customers-link:focus,
.customers-link:hover {
    color: var(--text-ocean-color);
    border-color: var(--text-ocean-color);
}

.customers-item:focus,
.customers-item:hover .customers-icons {
    fill: var(--text-ocean-color);
}

.customers-list {
    display: flex;
}

.customers-link {

    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--customers-color);
    fill: currentColor;

}

.customers-link {
    width: 100%;
    height: 100%;

}

.customers-link {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.customers-link:hover,
.customers-link:focus {
    border-color: #404bbf;
    color: #404BBF;
}

.customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-item {
    width: calc((100% - 5 * 24px) / 6);
    height: 88px;
    color: var(--customers-color);
    border: 1px solid var(--customers-icon);

}

.customers-title {
    font-family: 'Roboto' sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

/* .customers-item {
  border: 1px solid #8E8F99;
  border-radius: 4px;
  width: 168px;
  height: 88px;
} */

.customers-icons {
    width: 104px;
    height: 56px;

    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 32px;
    border: 1px solid var(--customers-icon);
    fill: currentColor;

}



/* .customers-icons{
  margin: 0 auto;
} */



/* --------PORTFOLIO------- */

.main-section {
    padding: 96px 0 120px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

/* .images link:hover,
:focus {
 filter:  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */

.filter-button {
    min-width: 69px;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.button-port {
    display: flex;
    align-items: center;
    min-width: 69px;
    height: 48px;
    padding: 12px 24px;
    border: 1px solid var(--button-color);
    border-radius: 4px;

}

.button-port {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    background-color: var(--text-cloud-color);
}

.button-port {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.button-port:hover,
.button-port:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



.pic-portfolio {
    align-items: center;
    gap: 24px;
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;

}

.our-projects li {
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    color: #2E2F42;
    border: 1px solid #E7E9FC;
    background: #FFFFFF;
    font-family: 'Roboto';

}

.our-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.our-projects {
    margin: 0;
    padding: 0;
}

.images {
    width: calc((100% - 48px) / 3);
    display: block;
}

/* ---- */

.image-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-link:hover,
.image-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.images-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: var(--text-iris-color);
    padding: 40px 32px;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    position: absolute;
    overflow-y: scroll;
    transform: translate(0, 100%);
    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.images :hover .overlay,
.images :focus .overlay {
    transform: translate(0, 0);
}

/* .images :focus .overlay {
transform: translate(0, 0);
} */

/* ------Footer */
.foot {
    background-color: #2E2F42;
    color: #F4F4FD;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 100px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;

    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    /* display: inline-block; */
    margin-bottom: 16px;


}

.footer-log {
    margin-right: 120px;
}


.foot {
    color: var(--text-cloud-color);
    background-color: #2E2F42;
    list-style: none;

}

.footer-social-text {

    color: var(--background-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 16px;
}


.footer-logo {

    display: inline-block;
}

.footer-logotype {
    color: #F4F4FD;

}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: baseline;

}

.footer-container {
    margin-right: 0 120px;

}

.foot-par {
    /* max-width: 264px; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color);
}

.footer-social-container {
    width: 238px;
    height: 110px;

    align-items: baseline;
    max-width: 208px;

}

.footer-social-text {
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color);
    margin-bottom: 16px;


}


.footer-follow-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-soc {
    width: 40px;
    height: 40px;

}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    background-color: var(--text-iris-color);
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}


.footer-soc-icon {
    width: 24px;
    height: 24px;
    fill: var(--text-cloud-color);
    align-items: center;

}

.main-description-footer {
    /* width: 96px;
 height: 24px; */
    margin-bottom: 16px;

}






/* .team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4D5AE5;
  border-radius: 50%;
  display: flex;
  margin-top: 8px;
} */



.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--footer-green-color);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.foot {
    background-color: #2E2F42;
    color: #F4F4FD;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 100px 0;

}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}


.foot {
    color: var(--text-cloud-color);
    background-color: #2E2F42;
    list-style: none;

}

.footer-logo {

    display: inline-block;
}

.footer-logotype {
    color: #F4F4FD;

}

.foot-par {
    max-width: 264px;
}

/* Window */
.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 100;
    transition: opacity var(--transition-duration) var(--transition-timing-function),
        visibility var(--transition-duration) var(--transition-timing-function);
}

.window.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color var(--transition-duration) var(--transition-timing-function),
        border var(--transition-duration) var(--transition-timing-function);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: var(--text-ocean-color);
    fill: var(--background-color);
    border: none;
}

.modal-close-button-icon {
    transition: fill var(--transition-duration) var(--transition-timing-function);
}